<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />


<div id="loginFormdiv" style="width:50%;margin:auto">

    <h1 style="text-align:center">Login</h1>
<form   action="/login" id="loginForm"  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email"  email class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Valid  Email is required</div>

        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>

 


          <div class="form-group">
                <label for="Select Role">Role</label>
                <select   formControlName="role" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                        <option value="Admin">Admin</option>
                        <option value="Seller">Seller</option>
                      </select>
                <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                    <div *ngIf="f.role.errors.required">Role is required</div>
                </div>
            </div>
        

    

      <!-- <div class="g-recaptcha" data-callback="enablelogin" data-sitekey="6LekSrUUAAAAAGpyCyNrrhXY6ME-U_SWnwqIz3eg"></div>
      <br/> -->
      <div style="margin-left:150px">
            <re-captcha (resolved)="resolved($event)" style="margin-left: 200px !important" siteKey="6LekSrUUAAAAAGpyCyNrrhXY6ME-U_SWnwqIz3eg"></re-captcha>

      </div>

  
    <div class="form-group" style="text-align: center" >
        <button [disabled]="loading" id="login" class="btn btn-primary">Login</button>
        <!-- <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> -->
        <a routerLink="/Register" class="btn btn-link">Register</a>
        <!-- <a href="{{adminurl}}" class="btn btn-link">Login as Admin</a> -->

    </div>
</form>
</div>

